* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root{
  font-family: 'Customfont';
  background-color:#090A0B;
  
}
 p{
  line-height: 35px
}
 h2{
  line-height: 50px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}