.service {
  background-color: whitesmoke;
}
.service-box1 {
  height: 100vh;
  margin: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(57, 105, 105);
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}
.service-box1-child1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 60%;
  background-color: blue;
}
.service-box1-child1-text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #070707;
  align-self: stretch;
}
.service-box1-child1-text2 {
  font-weight: 400;
  font-size: 16px;
  color: #4c4d4d;
  align-self: stretch;
}
.service-box1-child1-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 28px;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  font-family: "CustomFont";
  height: 46px;
  background: linear-gradient(92.16deg, #5016cc -0.89%, #f7a1d0 87.66%);
  border-radius: 6px;
}
.service-box1-child2 {
  width: 30%;
  background-color: green;
}
.service-box1-bottom {
  margin: auto;
  width: 90%;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  color: #090a0b;
  border: 1px solid red;
}
.service-box2 {
  display: grid;
  margin: auto;
  margin-top: 150px;

  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid blue;
}
.service-box2 > div {
  margin: auto;
  width: 100%;
  border: 2px solid blue;
  height: 400px;
}
.service-box2-bottom {
  width: 100%;
  margin: auto;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 150px;
  height: 250px;
  border: 2px solid red;
  display: flex;
  gap: 50px;
}
.service-box2-bottom-child1 {
  width: 25%;
  border: 2px solid blue;
}
.service-box2-bottom-child2 {
  width: 75%;
  border: 2px solid blue;
}
.service-box3 {
  margin: auto;
  border: 2px solid red;
  padding-left: 5%;
  padding-right: 5%;

  background-color: black;

  text-align: center;
  padding-top: 20px;
}
.service-box3-child1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 35px;
  color: #ffffff;
}
.service-box3-child2 {
  margin: auto;
  margin-top: 25px;
  border: 1px solid blue;
  width: 80%;
  line-height: 42px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.service-box3-child3 {
  margin: auto;
  width: 100%;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap:30px; */
  border: 1px solid blue;
}
.service-box3-child3 > div {
  margin: auto;
  width: 100%;
  height: 300px;
  border: 1px solid blue;
}
.service-box3-bottom {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 2px solid red;
  background-color: #5016cc;
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-box3-bottom-child1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #ffffff;
  border: 1px solid blue;
}
.service-box3-bottom-child2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  color: #ffffff;
  border: 1px solid blue;
}
.service-box3-bottom-child3 {
  border: 1px solid blue;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-box3-bottom-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  background-color: white;
  color: #5016cc;
  font-size: 20px;
  font-family: "CustomFont";
}
.service-box4 {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5%;
  text-align: center;
  border: 2px solid red;
}
.service-box4-child1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  color: #070707;
}
.service-box4-child2 {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 85%;
  border: 2px solid red;
}
.service-box4-child2 > div {
  border: 2px solid blue;
  margin: auto;
  width: 100%;
  height: 100px;
}
.service-box4-child3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.service-box4-child3-child1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 35px;
  color: #090a0b;
}
.service-box4-child3-child2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
  width: 85%;
  border: 2px solid red;
}
.service-box4-child3-child2 > div {
  width:100%;
  height: 300px;
  border: 2px solid blue;
}
.service-box4-child3-child3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  color: #090a0b;
}

.service-box4-bottom {
  margin: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 2px solid red;
  background: linear-gradient(92.16deg, #5016cc -0.89%, #f7a1d0 87.66%);
}

.service-box4-bottom-child1 {
  font-weight: 400;
  font-size: 32px;
  margin: auto;
  width: 70%;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.service-box4-bottom-child2 {
  margin: auto;
  width: 300px;
  height: 350px;
  border: 2px solid blue;
}
.service-box5{
    margin: auto;
    text-align: center;
    padding:5%;
    border: 2px solid red;
    

}
.service-box5-child1{
font-weight: 600;
font-size: 36px;
line-height: 30px;
color: #090A0B;
}
.service-box5-child2{
    margin: auto;
    margin-top: 150px;
width: 80%;
border: 2px solid blue;
height: 400px;
}