
.main-container-ux:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../../../assets/illustration/DarkUIUXHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}
.main-container-ux::after{
  content: "";
  position: absolute;
  width: 543px;
  height: 543px;
  left: -183px;
  top: -145px;
  background: rgba(71, 167, 204, 0.8);
  filter: blur(182px);
  border: 1px solid red;
  z-index: -1;
}

.ux-container {
 
    padding-left:10%;
    padding-right:4%;
}
.ux-container-box1{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
justify-content: space-between;
gap: 50px;
}

.ux-container-box1-child1{
  color: #FFF;
  font-size: 36px;
  font-weight: 600;
  text-align: center;

}
.ux-container-box1-child2{
  display: flex;
  justify-content: space-between;
}

.ux-container-box1-child2-subchild1{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
 width: 100%;
}
.ux-container-box1-child2-subchild2{
  border: 1px solid red;
  margin: auto;
 width: auto;
}
.ux-container-box1-child2-subchild3{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
 width: 100%;

}