.accordian-div{
   width: 100%;

   margin-bottom: 5%;
   
}

.Accordian{
   background-color:#090A0B;
   color:white;
   border-bottom:1px solid #A6A6A6;
 
   
}
.Accordian:last-child{
border: none;
}
.Accordian-text1{
flex-shrink: 0;
color:#FFFFFF;
font-weight: 400;
font-size: 18px;
padding-top: 15px;
padding-bottom: 15px;

text-align: left;
margin-left: -15px;


}
.Accordian-text2{
    font-weight: 400;
    font-size: 18px;
    color: #667085;
    padding-right: 20px;
    text-align: left;
   margin-left: -15px;

}