.Navbar-res-container{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
height: 55px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.23) 0%, rgba(70, 70, 70, 0.12) 100%);
backdrop-filter: blur(37.5px);
display: flex;
justify-content:space-between;
align-items: center;
padding: 5%;
gap: 30px;

}
.Navbar-res-container-child1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.Navbar-res-container-child1-homeimg{
width: 25px;
height: 25px;
}
.Navbar-res-container-child1-btn{
    text-transform: none;
    border-radius: 4px;
    border: 1px solid #FFF;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    font-size: 10px;
}